.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background-color: #889aae; 
}
.navbar .logo{
    width: max(10%, 80px);
    border-radius: 50%;
}
.navbar .profile{
    /* width: 5%; */
    width: max(5%, 80px);
    border-radius: 50%;

}
